body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f7fb;
}

.kv-main {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
